.displayname{
    text-align: center;
}
.studentlist_button{
    margin-left: 10%; 
}
.App {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
   }
   
   .form-group {
    margin-bottom: 20px;
   }
   
   h2 {
    margin-bottom: 20px;
   }

   .section-title {
    margin-bottom: 1rem;
   }

   .background-container {
    background-color: #f7f7f7; /* Background color for the entire form area */
    min-height: 100vh; /* Ensures the background color covers the entire viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.5); /* Shadow effect */
  }
  
  .form-container {
    background-color: #ffffff; /* Background color for the form */
    padding: 40px;
    border-radius: 10px; /* Optional: Adds rounded corners to the form */
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.2); /* Shadow effect */
  }

  .logout-button{
    margin-left: 79%;
  }